@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-center-icon {
  filter: hue-rotate(140deg) saturate(1.3);
}
